{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit" ng-app="hd" ng-controller="ctrl">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>{$title}</legend>
    </fieldset>
    <form class="layui-form layui-form-pane">

        <div class="layui-form-item">
            <label class="layui-form-label">公告标题</label>
            <div class="layui-input-4">
                <input type="text" name="title" ng-model="field.title" lay-verify="required" placeholder="请输入公告标题" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">内容</label>
            <div class="layui-input-block">
                <textarea id="demo" name="content" style="display: none;"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">英文标题</label>
            <div class="layui-input-4">
                <input type="text" name="title_en" ng-model="field.title_en"  placeholder="请输入公告标题" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">英文内容</label>
            <div class="layui-input-block">
                <textarea id="demo_en" name="content_en" style="display: none;"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                <a href="{:url('notice')}" class="layui-btn layui-btn-primary">{:lang('back')}</a>
            </div>
        </div>
    </form>
</div>
{include file="common/foot"/}
<script src="__STATIC__/common/js/angular.min.js"></script>
<script>
    var m = angular.module('hd', []);
    m.controller('ctrl', ['$scope', function ($scope) {
        $scope.field = '{$info}' != 'null' ? {$info} : {id: '', title: '', title_en: '', content: '', content_en: ''};
        $scope.field.content = $scope.field.content.replace('&#39;',"'");
        $scope.field.title = $scope.field.title.replace('&#39;',"'");
        $scope.field.content_en = $scope.field.content_en.replace('&#39;',"'");
        $scope.field.title_en = $scope.field.title_en.replace('&#39;',"'");

        layui.use(['form', 'layer', 'layedit'], function () {
            var form = layui.form, $ = layui.jquery, layedit = layui.layedit;
            layedit.set({
                uploadImage: {
                    url: '{:url("Ad/uploads")}' //接口url
                    , type: 'post' //默认post
                }
            });

            layedit.build('demo');
            layedit.build('demo_en');
            $('#LAY_layedit_1').contents().find('body').html($scope.field.content);
            $('#LAY_layedit_2').contents().find('body').html($scope.field.content_en);
            form.on('submit(submit)', function (data) {
                // 提交到方法 默认为本身
                var loading = layer.load(1, {shade: [0.1, '#fff']});
                data.field.content = $('#LAY_layedit_1').contents().find('body').html();
                data.field.content2 = $('#LAY_layedit_2').contents().find('body').html();
                data.field.id = $scope.field.id;

                $.post("", data.field, function (res) {
                    layer.close(loading);
                    if (res.code > 0) {
                        layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                            location.href = res.url;
                        });
                    } else {
                        layer.msg(res.msg, {time: 1800, icon: 2});
                    }
                });
            })
        });
    }]);

</script>

</script>