{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit" ng-app="hd" ng-controller="ctrl">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>{$title}</legend>
    </fieldset>
    <form class="layui-form layui-form-pane">

        <div class="layui-form-item">
            <label class="layui-form-label">首页广告图</label>
            <button type="button" class="layui-btn" id="field">上传图片</button>
            <input type="file" name="logo" ng-model="field.logo" class="layui-input" style="width: 10rem;display: inline-block;opacity: 0">
            <div class="layui-upload-list">
                <img class="layui-upload-img" id="img"/>
                <p id="demoText"></p>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-4">
                <input type="text" name="sorting" ng-model="field.sorting" placeholder="{:lang('pleaseEnter')}排序" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-4">
                <input type="text" name="title" ng-model="field.title" placeholder="{:lang('pleaseEnter')}标题" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">跳转地址</label>
            <div class="layui-input-4">
                <input type="text" name="jump_url" ng-model="field.jump_url" placeholder="{:lang('pleaseEnter')}跳转地址" class="layui-input">
            </div>
        </div>

     <!--   <div class="layui-form-item">
            <label class="layui-form-label">图片显示位置</label>
            <div class="layui-input-block">
                {foreach name='cat' item='v'}
                <input type="radio" name="type" ng-model="field.type" ng-checked="field.type==0" ng-value="0" title="首页">
                {/foreach}
               &lt;!&ndash; <input type="radio" name="type" ng-model="field.type" ng-checked="field.type==1" ng-value="1" title="早起挑战">
                <input type="radio" name="type" ng-model="field.type" ng-checked="field.type==2" ng-value="2" title="导航">
                <input type="radio" name="type" ng-model="field.type" ng-checked="field.type==3" ng-value="3" title="首页轮播">
                <input type="radio" name="type" ng-model="field.type" ng-checked="field.type==4" ng-value="4" title="DAPP广告">&ndash;&gt;
            </div>
        </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label">图片显示位置</label>
            <div class="layui-input-4">
                <select name="type">
                    <option value=""></option>
                    {foreach name='cat' item='v'}
                     <option value="{$v.first_id}" {if condition="$v.first_id eq $infos['type']" } selected="selected"{/if}>{$v.name} </option>
                    {/foreach}
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">是否开启</label>
            <div class="layui-input-block">
                <input type="radio" name="status" ng-model="field.status" ng-checked="field.status==1" ng-value="1" title="开启">
                <input type="radio" name="status" ng-model="field.status" ng-checked="field.status==0" ng-value="0" title="未开启">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                <a href="{:url('picture')}" class="layui-btn layui-btn-primary">{:lang('back')}</a>
            </div>
        </div>
    </form>
</div>
{include file="common/foot"/}
<script src="__STATIC__/common/js/angular.min.js"></script>
<script src="__STATIC__/plugins/lrz/lrz.min.js"></script>

<script>
    var imgs = {};
    var m = angular.module('hd',[]);
    m.controller('ctrl',['$scope',function($scope) {
        $scope.field = '{$info}'!='null'?{$info}:{status:1,type:''};
        layui.use(['form', 'layer'], function () {
            var form = layui.form, $ = layui.jquery;
            form.on('submit(submit)', function (data) {
                // 提交到方法 默认为本身
                var loading = layer.load(1, {shade: [0.1, '#fff']});
                data.field.imgs = imgs;
                $.post(
                    "",
                    data.field,
                    function (res) {
                        layer.close(loading);
                        if (res.code > 0) {
                            layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                                location.href = res.url;
                            });
                        } else {
                            layer.msg(res.msg, {time: 1800, icon: 2});
                        }
                    });
            })

            if($scope.field.logo){
                $('#img').attr('src',$scope.field.logo).attr('style','width:10rem;');
            }

            $('#field').click(function(){
                $('input[type="file"]').click();
            });

            $('input[type="file"]').change(function () {
                var _this = $(this);
                var obj = $(this)[0].files[0];
                var exts = obj.name.split('.');
                var ext = exts[exts.length - 1];
                if (['jpg', 'gif', 'png', 'jpeg'].indexOf(ext.toLowerCase()) == -1) {
                    window.toast(ext.toLowerCase() + '图片格式错误！');
                    return;
                }

                //不压缩
                var FR= new FileReader();
                FR.readAsDataURL(obj);
                FR.onload = function(e){
                    _this.parent().find('img').attr('src', this.result).attr('style','width:10rem;');
                    imgs[_this.attr('name')] =this.result;
                };

                //压缩
//                lrz(obj, {
//                    width: 500
//                }).then(function (rst) {
//                    console.log(rst.base64.length);
//                    $('#img').attr('src', rst.base64).attr('style','width:10rem;');
//                    imgs[_this.attr('name')] = rst.base64;
//                });

            });
        });
    }]);
</script>