.bonus{
    padding-top:2.75rem;
}
.bonus>.bonus-bg{
    width: 100%;
    height: 5.4rem;
    background: url("../../../assets/img/user/bg-2.png") no-repeat;
    background-size: 100%;
}
.bonus>.bonus-bg>p{
    text-align: center;
    font-size: 1.3rem;
    color: white;
    padding-top: 3rem;
}

.bonus>.bonus-dl>dl>dt{
    display: flex;
    border-bottom: 1px solid #EFEFEF;
    padding: 0 .6rem;
    line-height: 2.4rem;
}
.bonus>.bonus-dl> dl>dt>span{
    flex: 1;
    text-align: center;
    color: #666666;
}
.bonus>.bonus-dl>dl>dd{
    display: flex;
    border-bottom: 1px solid #EFEFEF;
    line-height: 2.4rem;
    padding: 0 .6rem;
    font-size: .68rem;
}
.bonus>.bonus-dl>dl>dd>span{
    flex: 1;
    text-align: center;
}

.bonus>.rule-1>div {
    width: 80%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10rem;
    margin-left: -40%;
    color: black;
    border-radius: 5px;
}
.bonus>.rule-1>div>img {
    width: 100%;
}
.bonus>.rule-1>div>div {
    padding: 0 .8rem 1.6rem .8rem;
    box-sizing: border-box;
}
.bonus>.rule-1>div>p {
    border-top: 1px solid #eceaea;
    width: 100%;
    background-color: white;
    border-radius: 0 0 5px 5px;
}
.bonus>.rule-1>div>div>p {
    line-height: 1.2rem;
    padding-bottom: .3rem;
}
.bonus>.rule-1>div>p>button:nth-of-type(1) {
    border-radius: 0 0 0 5px;
    background-color: white;
    float: left;
    color: #666666;
    border-right: 1px solid #eceaea;
}

.bonus>.rule-1>div>p>button {
    width: 49%;
    font-size: .8rem;
    text-align: center;
    height: 2.4rem;
    background-color: white;
}
.bonus>.rule-1>div>p>button:nth-of-type(2) {
    border-radius: 0 0 5px 0;
    float: right;
}