.notice{
    padding-top: 2.75rem;
    background-color: #F5F5F5;
}
.notice>ul>li>div:nth-of-type(1){

    height: 2.3rem;
    line-height: 2.3rem;
    padding-top: .5rem;
}
.notice>ul>li>div:nth-of-type(1){
    text-align: center;

}
.notice>ul>li>div:nth-of-type(1)>p{
    width: 5.5rem;
    line-height: 1.2rem;
    background-color: #E9E9E9;
    border-radius: 12px;
    color: #B4B4B4;
    text-align: center;
    margin: 0 auto;
    margin-top: .5rem;
}
.notice>ul>li>div:nth-of-type(2)>img{
   width: .2rem;
    height: .2rem;
}
.notice>ul>li>div:nth-of-type(2)>p{
    display: inline-block;
}
.notice>ul>li>div:nth-of-type(2){
    height: 3.5rem;
    line-height: 3.5rem;
    padding: 0 .8rem;
    background-color: #ffffff;
}

.notice>.details{
    padding: 1rem .8rem;
}
.notice>.details>div{
    width: 100%;
    height: 6rem;
    line-height: 6rem;
    text-align: center;
    background-color: white;
    color: #727272;
}
.notice>.details>p:nth-of-type(1){
    font-size: .85rem;
    line-height: 1.4rem;
}
.notice>.details>p:nth-of-type(2){
    text-align: center;
    line-height:3rem;
    color: #B7B7B7;
}
.notice>.details>p:nth-of-type(3){
    font-size: .8rem;
    line-height: 2.7rem;
}