.set-password{
    padding-top: 2.75rem;
    background-color: #F5F5F5;
    font-size: .75rem;
    color: black;
}
.set-password>div>p{
    background-color: #ffffff;
    height:3rem;
    line-height:3rem;
    padding: 0 .8rem;
}
.set-password>div>p:nth-of-type(1){
    border-bottom: 1px solid #F0F0F0;
}
.set-password>div>p:nth-of-type(2){
    margin-bottom: .3rem;
}
.set-password>div>p>span{
    width: 3.5rem;
    display: inline-block;
    text-align: left;
    margin-right: .6rem;
    font-weight: bold;
}
.set-password>div>p>input{
    width: 60%;
    height: 2.8rem;
    font-size: .75rem;
}
.set-password>button {
    display: block;
    width: 93%;
    margin: 0 auto;
    margin-top: 2rem;
}
.set-password>div>p.code>input{
    width: 40%;
}
.set-password>div>p.code>i{
    display: inline-block;
    width: 5rem;
    color: #5A8BDD;
}