.user{
    background-color: #F5F5F5;
    padding-bottom: 3.3rem;
}
.user>.sec-1{
    width: 100%;
    height: 9.6rem;
    background: url("../../../assets/img/user/bg-1.png") no-repeat;
    background-size: 100%;
}
.user>.sec-1>p:nth-of-type(1){
    text-align: right;
    padding: .5rem .8rem 0 .8rem;
}
.user>.sec-1>p:nth-of-type(1)>img{
   width: 1.1rem;
    height: 1.1rem;
}
.user>.sec-1>p:nth-of-type(2)>img{
    width: 4rem;
    height: 4rem;
}
.user>.sec-1>p{
   text-align: center;
    color: white;
}
.user>.sec-1>p:nth-of-type(3){
    font-size: .7rem;
    padding: .3rem 0;
}
.user>.sec-1>p:nth-of-type(4){
    font-size: .78rem;
}
.user>.banner>img{
    width: 100%;
}

.user>.sec-2{
    padding: 0 .8rem;
}
.user>.sec-2>ul>li{
    background-color: #ffffff;
    border-radius: 5px;
    width: 100%;
    color: black;
}
.user>.sec-2>ul>li:nth-of-type(1){
    margin-bottom: .5rem;
}
.user>.sec-2>ul>li>h2{
    line-height: 1.8rem;
    font-size: .75rem;
    padding-top: .2rem;
}
.user>.sec-2>ul>li>h2:before{
    content: '';
    display: inline-block;
    width: .2rem;
    height: .85rem;
    background: url(../../../assets/img/user/img-8.png) no-repeat;
    background-size: 100%;
    vertical-align: -8%;
    margin-right: .8rem;
}
.user>.sec-2>ul>li>div{
    padding: 0 1rem;
}
.user>.sec-2>ul>li>div>.top-1>p:nth-of-type(1){
    float: left;
}
.user>.sec-2>ul>li>div>.top-1>p:nth-of-type(2){
    float: right;
}
.user>.sec-2>ul>li>div>.top-1>p:nth-of-type(1)>img{
    width: 1.5rem;
    height: 1.4rem;
    vertical-align: -15%;
}
.user>.sec-2>ul>li>div>.top-1>p:nth-of-type(2)>span{
    width: 2.1rem;
    line-height: 1rem;
    border-radius: 3px;
    background-color: #FF6060;
    color: white;
    font-size: .64rem;
    display: inline-block;
    text-align: center;
    margin-right: .3rem;
}
.user>.sec-2>ul>li>div>.top-1>p:nth-of-type(2)>i{
    display: inline-block;
    width: .5rem;
    height: .8rem;
    background: url("../../../assets/img/coin/img-4.png") no-repeat;
    background-size: 100%;
    vertical-align: middle;
}
.user>.sec-2>ul>li>div>div{
    height: 2.3rem;
    line-height: 2.3rem;
    font-size: .75rem;
    padding-bottom: 0.3rem;
}
.user>.sec-2>ul>li>div>.top-1{
    border-bottom: 1px solid #ece9e9;
}

.user>.sec-2>ul>li>div>.top-2{
    border-bottom: none;
    padding-top: .3rem;
}
.user>.sec-2>ul>li:nth-of-type(2)>div>.top-2{
    padding-top: .3rem;
    border-bottom: 1px solid #ece9e9;
}
.user>.sec-2>ul>li>div>.top-3{
    border-bottom: none;
    padding-top: .3rem;
}
