.nickname{
    padding-top: 2.75rem;
    background-color: #F5F5F5;
    color: black;
    font-size: .75rem;
}
.nickname>ul>li {
    border-bottom: 1px solid #EFEFEF;
    padding: 0 .8rem;
    background-color: white;
    height: 3.2rem;
    line-height: 3.2rem;
}
.nickname>ul>li>p:nth-of-type(1){
    float: left;
}
.nickname>ul>li>p:nth-of-type(2){
    float: right;
}
.nickname>ul>li>p:nth-of-type(2)>img{
    width: 2.8rem;
    height: 2.8rem;
    vertical-align: middle;
    margin-right: .3rem;
}
.nickname>ul>li>p:nth-of-type(2)>i{
    display: inline-block;
    width: .5rem;
    height: .8rem;
    background: url(../../../assets/img/coin/img-4.png) no-repeat;
    background-size: 100%;
    vertical-align: middle;
}
.nickname>ul>li>p:nth-of-type(2)>span{
    color: #666666;
    margin-right: .3rem;
}