{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>ETH充值日志{:lang('list')}</legend>
    </fieldset>
    <blockquote class="layui-elem-quote">
        <div class="demoTable">
            <div class="layui-inline">
                <input class="layui-input" name="key" id="key" placeholder="{:lang('pleaseEnter')}关键字">
            </div>
            <div class="layui-inline">
                <label class="layui-label">状态：</label>
                <select id="select_status" class="layui-select">
                    <option value="">请选择状态</option>
                    <option value="1">已确认</option>
                    <option value="2">已入账</option>
                </select>
            </div>
            <label class="layui-label">时间：</label>
            <div class="layui-inline">
                <input type="text" class="layui-input" name="date" id="test">
            </div>
            <button class="layui-btn" id="search" data-type="reload">搜索</button>
            <a href="{:url('log_coin_eth')}" class="layui-btn">显示全部</a>
            <button class="layui-btn" id="export">导出</button>
        </div>
    </blockquote>

    <table class="layui-table" id="list" lay-filter="list"></table>
</div>

<script type="text/html" id="t_status">
    {{# if(d.t_status==1){ }}
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="">已确认</a>
    {{# }else if(d.t_status==2){ }}
    <a class="layui-btn layui-btn-xs layui-btn" lay-event="">已入账</a>
    {{# } }}
</script>

{include file="common/foot"/}
<script>
    layui.use('table', function() {
        var table = layui.table, $ = layui.jquery;
        var tableIn = table.render({
            id: 'id',
            elem: '#list',
            url: '{:url("log_coin_eth")}',
            method: 'post',
            page: true,
            cols: [[
                {checkbox:true,fixed: true},
                {field: 'id', title: '{:lang("id")}', align: 'center',fixed: true, sort: true},
                {field: 'user_id', title: '会员id', align: 'center',sort: true},
                {field: 'username', title: '会员名', align: 'center',sort: true},
                {field: 'name', title: '通证名称', align: 'center',sort: true},
                {field: 'num', title: '操作数量', align: 'center',sort: true},
                {field: 'amount', title: '操作前数量', align: 'center',sort: true},
                {field: 'balance', title: '操作后数量', align: 'center',sort: true},
                {field: 'union_id', title: '区块高度', align: 'center',sort: true},
                {field: 't_status', align: 'center', title: '{:lang("status")}', toolbar: '#t_status', sort: true,},
                {field: 'addtime', title: '操作时间', align: 'center',sort: true},
            ]],
            limit: 10, //每页默认显示的数量
            //回调  获取返回的数据
        });
        //搜索
        $('#search').on('click', function() {
            var key = $('#key').val();
            var date = $('#test').val();
            var status1 = $('#select_status').val();
            tableIn.reload({
                where: {key: key,date:date,status1:status1}
            });
        });
        //导出
        $('#export').on('click', function () {
            layer.confirm('确认要导出吗？', {icon: 3}, function (index) {
                layer.close(index);
                var key = $('#key').val();
                var date = $('#test').val();
                var status1 = $('#select_status').val();
                window.location.href = "Log/export_trx_eth?"+'key='+key+'&status1='+status1+'&date='+date;
            });
        });
    });
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        laydate.render({
            elem: '#test'
            ,type: 'datetime'
            ,range: true
            ,theme: 'molv'
        });
    });
</script>
</body>
</html>