{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit" ng-app="hd" ng-controller="ctrl">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>{$title}</legend>
    </fieldset>
    <form class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 200px">成交量</label>
            <div class="layui-input-4">
                <input type="text" name="num" ng-model="field.num" lay-verify="" placeholder="{:lang('pleaseEnter')}成交量" class="layui-input">
            </div>
        </div>
        <!--<div class="layui-form-item">
            <label class="layui-form-label" style="width: 200px">开盘价</label>
            <div class="layui-input-4">
                <input type="text" name="open_price" ng-model="field.open_price" lay-verify="" placeholder="{:lang('pleaseEnter')}开盘价" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 200px">收盘价</label>
            <div class="layui-input-4">
                <input type="text" name="close_price" ng-model="field.close_price" lay-verify="" placeholder="{:lang('pleaseEnter')}收盘价" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 200px">最高价</label>
            <div class="layui-input-4">
                <input type="text" name="high_price" ng-model="field.high_price" lay-verify="" placeholder="{:lang('pleaseEnter')}最高价" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 200px">最低价</label>
            <div class="layui-input-4">
                <input type="text" name="low_price" ng-model="field.low_price" lay-verify="" placeholder="{:lang('pleaseEnter')}最低价" class="layui-input">
            </div>
        </div>-->


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                <a href="{:url('log_trade_day')}" class="layui-btn layui-btn-primary">{:lang('back')}</a>
            </div>
        </div>

</div>

</form>
</div>
{include file="common/foot"/}
<script src="__STATIC__/common/js/angular.min.js"></script>
<script>
    var m = angular.module('hd',[]);
    m.controller('ctrl',['$scope',function($scope) {
        $scope.field = '{$info}'!='null'?{$info}:{status:1,coin:''};
        layui.use(['form', 'layer'], function () {
            var form = layui.form, $ = layui.jquery;
            form.on('submit(submit)', function (data) {
                // 提交到方法 默认为本身
                var loading = layer.load(1, {shade: [0.1, '#fff']});
                data.field.id = $scope.field.id;
                $.post("", data.field, function (res) {
                    layer.close(loading);
                    if (res.code > 0) {
                        layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                            location.href = res.url;
                        });
                    } else {
                        layer.msg(res.msg, {time: 1800, icon: 2});
                    }
                });
            })
        });
    }]);
</script>