{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>账户资产日志</legend>
    </fieldset>
    <blockquote class="layui-elem-quote">
        <div class="demoTable">
            <div class="layui-inline">
                <input class="layui-input" name="key" id="key" placeholder="{:lang('pleaseEnter')}关键字">
            </div>
            <div class="layui-inline">
                <label class="layui-label">通证名称：</label>
                <select name="coin_id" id="select_status" class="layui-select coin" lay-verify="required" ng-model="field.code"
                        ng-options="v.code as v.name for v in country" ng-selected="v.code==field.code">

                </select>
            </div>
            <div class="layui-inline">
                <label class="layui-label">分类名称：</label>
                <select name="coin" id="select_status2" class="layui-select cat">

                </select>
            </div>
            <label class="layui-label">时间：</label>
            <div class="layui-inline">
                <input type="text" class="layui-input" name="date" id="test">
            </div>
            <button class="layui-btn" id="search" data-type="reload">搜索</button>
            <a href="{:url('log_coin')}" class="layui-btn">显示全部</a>
        </div>
    </blockquote>

    <table class="layui-table" id="list" lay-filter="list"></table>
</div>

{include file="common/foot"/}
<script>
    layui.use('table', function() {
        var table = layui.table, $ = layui.jquery;
        var tableIn = table.render({
            id: 'id',
            elem: '#list',
            url: '{:url("log_coin")}',
            method: 'post',
            page: true,
            cols: [[
                {checkbox:true,fixed: true},
                {field: 'id', title: '{:lang("id")}', align: 'center',fixed: true, sort: true},
                {field: 'user_id', title: '用户ID', align: 'center',sort: true},
                {field: 'id_name', title: '姓名', align: 'center',sort: true},
                {field: 'mobile', title: '手机号', align: 'center',sort: true},
                {field: 'name', title: '币子名称', align: 'center',sort: true},
                {field: 'num', title: '操作数量', align: 'center',sort: true},
                {field: 'amount', title: '操作前数量', align: 'center',sort: true},
                {field: 'balance', title: '操作后数量', align: 'center',sort: true},
                //{field: 'admin_name', title: '后台操作人', align: 'center',sort: true},
                {field: 'union', title: '关联表', align: 'center',sort: true},
                {field: 'union_id', title: '关联ID', align: 'center',sort: true},
                {field: 'remark', title: '备注', align: 'center',sort: true},
                {field: 'type', title: '类型', align: 'center'},
                {field: 'addtime', title: '操作时间', align: 'center',sort: true},
            ]],
            limit: 10, //每页默认显示的数量
            //回调  获取返回的数据
            done: function(res, curr, count){
//                  console.log(res.date_num);
                var coin = res.coin;
//                $('#date_num').text(res.date_num + '天');
                var option = '<option value="">请选择通证</option>';
                $.each(coin,function (k,v) {
                    option += '<option value="'+v.coin_id+'">'+v.name+'</option>';
                })
                $('select.coin').html(option);


                var cat = res.action;
                var option = '<option value="">请选择分类</option>';
                $.each(cat,function (k,v) {
                    option += '<option value="'+k+'">'+v+'</option>';
                })
                $('select.cat').html(option);

            }
        });
        //搜索
        $('#search').on('click', function() {
            var key = $('#key').val();
            var date = $('#test').val();
            var coin_id = $('#select_status').val();
            var cat_id = $('#select_status2').val();
            tableIn.reload({
                where: {key: key,date:date,coin_id:coin_id,cat_id:cat_id}
            });
        });
    });
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        laydate.render({
            elem: '#test'
            ,type: 'datetime'
            ,range: true
            ,theme: 'molv'
        });
    });
</script>
</body>
</html>