<!--<footer class="footer">
    <ul class="tab-nav">
        <li data-path="home" class="home-link active">
            <img src="assets/img/public/home.png" alt=""/>
            <img src="assets/img/public/home-1.png" alt=""/>
            <p>币币交易</p>
        </li>
        <li data-path="c2c" class="c2c-link">
            <img src="assets/img/public/c2c.png" alt=""/>
            <img src="assets/img/public/c2c-1.png" alt=""/>
            <p>C2C</p>
        </li>
        <li data-path="wallet" class="wallet-link">
            <img src="assets/img/public/wallet.png" alt=""/>
            <img src="assets/img/public/wallet-1.png" alt=""/>
            <p>钱包</p>
        </li>
        <li data-path="user" class="user-link">
            <img src="assets/img/public/user.png" alt=""/>
            <img src="assets/img/public/user-1.png" alt=""/>
            <p>我的</p>
        </li>
    </ul>
</footer>-->

<footer class="footer">
    <ul class="tab-nav">
        <li data-path="index" class="index-link active">
            <img src="assets/img/index/shouye.png" alt="" />
            <img src="assets/img/index/shouye-1.png" alt="" />
            <p>行情</p>
        </li>
        <li data-path="trade?trade=BTC/USDT&type=1" class="coin-link">
            <img src="assets/img/index/bi.png" alt="" />
            <img src="assets/img/index/bi-1.png" alt="" />
            <p>币币</p>
        </li>
        <!--<li data-path="otc" class="otc-link">-->
            <!--<img src="assets/img/index/bi.png" alt="" />-->
            <!--<img src="assets/img/index/bi-1.png" alt="" />-->
            <!--<p>OTC</p>-->
        <!--</li>-->
        <li data-path="wallet" class="wallet-link">
            <img src="assets/img/index/wallet.png" alt="" />
            <img src="assets/img/index/wallet-1.png" alt="" />
            <p>钱包</p>
        </li>
        <li data-path="user" class="user-link">
            <img src="assets/img/index/user.png" alt="" />
            <img src="assets/img/index/user-1.png" alt="" />
            <p>我的</p>
        </li>
    </ul>
</footer>