@charset "utf-8";

.bind{
	padding: 0 1rem;
}

.bind .upload{
	text-align: center;
}
.bind .upload p:nth-child(1){
	margin: 1rem 0;
	font-size: .95rem;
}
.bind .upload p:nth-child(3){
	margin: .6rem 0;
	font-size: .6rem;
	color:#00A0E8;
}
.bind .upload img{
	height: 6rem;
	width: 6rem;
	vertical-align: middle;
}

.bind .upload>div{
	position: relative;
}
.bind .upload>div>input[type="file"]{
	position: absolute;
	width: 6rem;
	height: 6rem;
	opacity: 0;
}

/*.bind .upload .affirm{*/
	/*margin-top: .8rem;*/
/*}*/

.bind .hint{
	margin-top: 1.5rem;
	line-height: 1.4rem;
}
.bind .hint h4{
	font-size: .8rem;
}
.bind .hint p{
	font-size: .78rem;
	color: #B7B7B7;
}


.bind .form-item {
	display: flex;
	border: none;
	height: 2.8rem;
	line-height: 2.8rem;
	border-bottom: 1px solid #E5E5E5;
}

.bind .form-item>input {
	flex: 3;
	height: 2.8rem;
	line-height: 2.8rem;
	color: #8c8c8c;
	padding-left: 1rem;
	font-size: 0.9rem;
}

.bind .btn-blue {
	display: block;
	width: 100%;
	height: 2.4rem;
	border-radius: 30px;
	line-height: 2.4rem;
	margin-top: .85rem;
	font-size: .85rem;
}






 