/*@CHARSET "UTF-8";*/

.loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50px;
    height: 60px;
    text-align: center;
    font-size: 10px;
}

.loading > div {
    background-color: #67CF22;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.loading .loading-2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.loading .loading-3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.loading .loading-4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.loading .loading-5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.btn-toLogin{
    position: absolute;
    top: 84%;
    left: 48%;
    margin-left: -9%;
    /*margin-top: 12rem;*/
    padding: .2rem .5rem;
    border-radius: 4px;
    z-index: 666;
    text-align: center;
    border: 1px solid #6A9DE2;
    color: #6A9DE2;
    line-height: 1.5rem;
    font-size: .8rem;
    opacity: .8;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}



/*.loading{*/
    /*background-color: white;*/
/*}*/
/*.loading>img {*/
    /*width: 100%;*/
    /*position: relative;*/
/*}*/
/*.loading>.btn-toLogin{*/
    /*position: absolute;*/
    /*bottom: 9%;*/
    /*left: 33%;*/
    /*padding: .2rem 1.5rem;*/
    /*border-radius: 4px;*/
    /*z-index: 666;*/
    /*text-align: center;*/
    /*border: 1px solid #6A9DE2;*/
    /*color: #6A9DE2;*/
    /*line-height: 1.5rem;*/
    /*font-size: .8rem;*/
    /*opacity: .8;*/
/*}*/