.extract{
    padding-top: 2.75rem;
    background-color: #F5F5F5;
}
.extract>div{
    background-color: white;
    padding: 0 .8rem 1.3rem .8rem;
}
.extract>div>p{
    border-bottom: 1px solid #F3F3F3;
    height: 2.1rem;
    line-height: 2.1rem;
    padding-top: .3rem;
    font-size: .75rem;
    color: black;
}
.extract>div>p>input{
    width: 64%;
    height: 2rem;
    font-size: .75rem;
}
.extract>div>p>span:nth-of-type(2){
    width: 64%;
    height: 1.6rem;
    font-size: .75rem;
    display: inline-block;
}
.extract>div>p>span:nth-of-type(1){
    margin-right: .7rem;
}
.extract>div>p:nth-of-type(3){
    height: 3.2rem;
    line-height: 1.1rem;
    padding-top: .8rem;
}
.extract>div>p:nth-of-type(3)>span{
    display: block;
}
.extract>div>p:nth-of-type(3)>input{
    width: 99%;
    height: 1.9rem;
    margin-top: .2rem;
}
.extract>div>div{
    line-height: 1.8rem;
    background-color: #F5F5F5;
    padding: 0 .8rem;
    margin-top: 1.3rem;
    font-size: .75rem;
}
.extract>div>div>span:nth-of-type(1){
    margin-right: .5rem;
}
.extract>button{
    width: 90%;
    border-radius: 30px;
    margin: 0 auto;
    display: block;
    height: 2.5rem;
    line-height: 2.5rem;
    margin-top: 1.6rem;
}

.box-extract>div {
    width: 95%;
    height:12.5rem;
    position: absolute;
    background-color: white;
    top:50%;
    left: 50%;
    margin-top: -6.25rem;
    margin-left: -47.5%;
    border-radius: 5px;
}
.box-extract>div>p:nth-of-type(1){
    text-align: left;
    padding: 0 .8rem;
    line-height: 2rem;
    color: #666666;
    font-size: .75rem;
    border-bottom: 1px solid #EFEFEF;
}
.box-extract>div>p:nth-of-type(2){
    font-size: .8rem;
    color: black;
    text-align: center;
    line-height: 2.4rem;
}
.box-extract>div>p.number{
    width: 92%;
    height: 2.6rem;
    line-height: 2.6rem;
    margin: 0 auto;
    border: 1px solid #EFEFEF;
    background-color: #F9F9F9;
    border-radius: 3px;
}
.box-extract>div>p.number>span{
    border-right: 1px solid #EFEFEF;
    width: 16%;
    height: 2.6rem;
    line-height: 2.6rem;
    display: inline-block;
}
.box-extract>div>p.number>span:nth-last-child(1){
    border: none;
}
.box-extract>div>p.psd{
    padding: .7rem .8rem 1rem .8rem;
}
.box-extract>div>p.psd>span:nth-of-type(1){
    float: left;
    font-size: .64rem;
}
.box-extract>div>p.psd>span:nth-of-type(2){
    float: right;
    font-size: .64rem;
    color: #A5A5A5;
}
.box-extract>div>div:nth-of-type(2){
    border-top: 1px solid #EFEFEF;
}
.box-extract>div>div>button{
    width: 49%;
    height: 2.65rem;
    line-height: 2.65rem;
    text-align: center;
    font-size: .8rem;
}
.box-extract>div>div>button:nth-of-type(1){
    color: black;
    border-radius:0 0 0 5px;
    background-color:white;
    float: left;
}
.box-extract>div>div>button:nth-of-type(2){
    float: right;
    color: white;
    background-color: #00BB88;
    border-radius: 0 0 5px 0;
}