.team{
    padding-top: 2.75rem;
    font-size: .75rem;
    color: black;
}
.team dl>dt{
     display: flex;
    border-bottom: 1px solid #EFEFEF;
    padding: 0 .8rem;
    line-height: 2.4rem;
 }
.team dl>dt>span{
    flex: 1;
    text-align: center;
    color: #666666;
}
.team dl>dd{
    display: flex;
    border-bottom: 1px solid #EFEFEF;
    line-height: 2.4rem;
    padding: 0 .8rem;
    font-size: .68rem;
}
.team dl>dd>span{
    flex: 1;
    text-align: center;
}