.my-commission{
    padding-top: 2.75rem;
    background-color: #F5F5F5;
}
.my-commission>.no-data>img{
    width: 100%;
}
.my-commission>ul>li{
    background-color: #ffffff;
    margin-bottom: .3rem;
}
.my-commission>ul>li:nth-last-child(1){
    margin-bottom: 0;
}
.my-commission>ul>li>.purchase{
    padding: 0 .8rem;
    line-height: 2.2rem;
    font-size: .78rem;
}
.my-commission>ul>li>.purchase>p{
    display: inline-block;
    width: 49%;
}
.my-commission>ul>li>.purchase>p:nth-of-type(1){
    text-align: left;
    font-weight: bold;
}
.my-commission>ul>li>.purchase>p:nth-of-type(2){
    text-align: right;
    font-size: .64rem;
    color: #A3A3A3;
}
.my-commission>ul>li>.number{
    padding: 0 .8rem .7rem .8rem;
    line-height: 1.2rem;
    font-size: .75rem;
}
.my-commission>ul>li>.number>div{
    display: inline-block;
    width: 32%;
}
.my-commission>ul>li>.number>div:nth-of-type(3){
    text-align: right;
}
.my-commission>ul>li>.number>div:nth-of-type(2){
    text-align: center;
}
.my-commission>ul>li>.number>div:nth-of-type(1){
    text-align: left;
}
.my-commission>ul>li>.number>div>p:nth-of-type(2){
 font-weight: bold;
}
.my-commission>ul>li>p{
    line-height: 2.4rem;
    text-align: center;
    color: red;
    font-size: .8rem;
    border-top: 1px solid #EFEFEF;
}

.cancel-entrust>div{
   width: 75%;
    height: 6rem;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -37.5%;
    margin-top: -3.5rem;
    background-color: white;
    border-radius: 10px;
}
.cancel-entrust>div>p:nth-of-type(1){
    line-height: 3.9rem;
    font-weight: bold;
    font-size: .78rem;
    color: black;
    text-align: center;
    border-bottom: 1px solid #EFEFEF;
}
.cancel-entrust>div>p:nth-of-type(2)>button{
    width: 49.2%;
    font-size: .78rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    background-color: #ffffff;
}
.cancel-entrust>div>p:nth-of-type(2)>button:nth-of-type(1) {
    border-right: 1px solid #EFEFEF;
    color: #666666;
    border-radius: 0 0 0 10px;
}
.cancel-entrust>div>p:nth-of-type(2)>button:nth-of-type(2){

    color: #5C8DDD;
    border-radius: 0 0 10px 0;
}


.buy_market{
    width: 47%;
    height: 2rem;
    line-height: 2rem;
    color: white;
    background-color: #5A8BDD;
    border-radius: 5px;
    font-size: .8rem;
    margin: 0 auto;
    display: block;
    margin-top: 1rem;
    margin-bottom: .3rem;
}