.feedback-record-details {
    background-color: white;
    padding-bottom: 2rem;
}

.feedback-record-details .nav {
    border-bottom: 1px solid #ececec;
    padding: 1rem .8rem .8rem;

}

.feedback-record-details .nav > p:nth-child(1) {
    margin-bottom: .8rem;
}

.feedback-record-details .nav > p:nth-child(2) {
    color: #999999;
}

.feedback-record-details .problem {
    padding: 0 .8rem;
    border-bottom: 10px solid #f5f5f5;
}

.feedback-record-details .problem > ul li > p {
    padding: 1rem 0 .5rem;
}

.feedback-record-details .problem > ul>li:nth-child(1) > div {
     border: 1px solid #ececec;
     background-color: #f9f9f9;
     padding: .8rem;
     color: #999999;
 }
.feedback-record-details .problem > ul>li:nth-child(2) > div{
    padding-bottom:.8rem;
}
.feedback-record-details .img-box img{
    width:50%;
}

.feedback-record-details .img-box img.img-up-big{
    width:100%;
}
.feedback-record-details .service .d-b{
    border-bottom: 1px solid #ececec;
    padding:0 .8rem;
}
.feedback-record-details .service .d-b>p:nth-child(1) {
   padding:.8rem 0 .4rem;
}
.feedback-record-details .service .d-b>div:nth-child(2) {
    line-height: 1.2rem;
    color: #999999;
    font-size: .75rem;
}
.feedback-record-details .service .d-b>p:nth-child(3) {
    color: #b7b6b6;
    font-size:.65rem;
    padding: .3rem 0;
}
.feedback-record-details .shu{
    padding:1rem .8rem;
}
.feedback-record-details .shu>textarea{
    width:100%;
    height:4.5rem;
    border:1px solid #ececec;
    background-color:#f5f5f5;
    padding:.5rem;
    box-sizing:border-box;
    margin-bottom:1rem;
}
.feedback-record-details .shu>button{
    width:100%;
    height:2.3rem;
    background-color:#478bdb;
    box-sizing:border-box;
    color:white;
}