.transaction{
    background-color: white;
}
.transaction .transaction-inline{
     height: 2.5rem;
     line-height: 2.5rem;
    display: flex;
 }
.transaction .transaction-inline li{
    flex: 1;
    text-align: center;
}
.transaction .transaction-inline li.active {
    border-bottom: 1.5px solid #5B6079;
    color: #5A6076;
}
.transaction .transaction-inline {
    border-bottom: 1px solid #EFEFEF;
    background-color: #F4F8FB;
}

.transaction  .purchase-left{
    float: left;
    padding: 1.2rem 0 .5rem .6rem;
   /* border-right: 1px solid #EFEFEF;*/
    width: 46%;
}
.transaction  .purchase-left .purchasep-upper li,.transaction  .purchase-left .purchasep-lower li{
    margin-bottom: 1.1rem;
}
.transaction  .purchase-left .purchasep-upper li:nth-of-type(2)>p:nth-of-type(2)>span{
    display: inline-block;width: 1.7rem;
    text-align: center;
    line-height: 1.2rem;
    border: 1px solid #EFEFEF;
    border-radius: 3px;
    font-size: .64rem;
    margin-right: .5rem;
    color: #A6A6A6;
}
.transaction  .purchase-left .purchasep-upper li:nth-of-type(2)>p:nth-of-type(2)>span.blue-active {
    background-color: #5686D2;
    border: 1px solid #5686D2;
    color: white;
}
.transaction  .purchase-left .purchasep-upper li:nth-of-type(2)>p:nth-of-type(2)>span:nth-last-of-type(1){
    margin-right: 0;
}
.transaction  .purchase-left .purchasep-upper li:nth-of-type(3){
    margin-bottom: 0;
}

.transaction  .purchase-left .purchasep-upper li>p:nth-of-type(1),.transaction  .purchase-left .purchasep-lower li>p:nth-of-type(1){
    height: 2.3rem;
    line-height: 2.3rem;
    width: 8.8rem;
    border: 1px solid #F1F1F1;
    border-radius: 5px;
}
.transaction  .purchase-left .purchasep-upper li>p:nth-of-type(2){
    padding-top: .8rem;
    color: #A6A6A6;
    font-size: .64rem;
}

.transaction  .purchase-left .purchasep-upper li>p>input,.transaction  .purchase-left .purchasep-lower li>p>input{
    width: 74%;
    height: 2.2rem;
    line-height: 2.2rem;
    text-indent: .3rem;
    font-size: .7rem;
    border-radius: 5px;
    color: black;
}
.transaction  .purchase-left .purchasep-upper li>p>span,.transaction  .purchase-left .purchasep-lower li>p>span{
    display: inline-block;
    width: 2rem;
    text-align: center;
}
.transaction  .purchase-left>button{
    background-color: #FF565F;
    width: 8.8rem;
    height: 2.2rem;
    color: white;
    letter-spacing: 2px;
    margin-bottom: 1.6rem;
    margin-top: 1.6rem;
}
.transaction  .purchase-right{
    float: left;
    padding: 1.2rem .2rem .7rem .2rem;
    border-left: 1px solid #EFEFEF;
}
.transaction  .purchase-right .sell-upper li,
.transaction  .purchase-right .sell-lower li{
  margin-bottom: .7rem;
}
.transaction  .purchase-right .sell-lower{
    padding-top: .3rem;
}
.transaction  .purchase-right .sell-upper> li span,
.transaction  .purchase-right .sell-lower> li span{
    display: inline-block;
}
.transaction  .purchase-right .sell-upper> li span:nth-of-type(1),
.transaction  .purchase-right .sell-lower> li span:nth-of-type(1){
    width: 0.6rem;
}
.transaction  .purchase-right .sell-upper> li span:nth-of-type(2),
.transaction  .purchase-right .sell-lower> li span:nth-of-type(2){
    width:3.6rem;
}
.transaction .purchase-right .sell-upper> li span:nth-of-type(3),
.transaction .purchase-right .sell-lower> li span:nth-of-type(3) {
    width: 5rem;
    text-align: center;
}
.transaction  .purchase-right>div.number{
    height: 2.4rem;
    line-height: 2.4rem;
    border-top: 1px solid #F1F1F1;
    border-bottom: 1px solid #F1F1F1;
    padding-left: .6rem;
}
.transaction  .purchase-right>div.number>p{
    display: inline-block;
    color: #0ABE87;

}
.transaction  .purchase-right>div.depth{
    color: #A6A6A6;
    height: 2rem;
    line-height: 2rem;
    border-top: 1px solid #F1F1F1;
    border-bottom: 1px solid #F1F1F1;
    padding-left: .6rem;
    font-size: .64rem;
}

.transaction .current-entrustment{
    padding-bottom: 3rem;
}
.transaction .current-entrustment  dt {
    display: flex;
    color: black;
    height: 2.2rem;
    line-height: 2.2rem;
    border-bottom: 1px solid #EFEFEF
}
.transaction .current-entrustment  dt>span {
    flex: 1;
    text-align: center;
}
.transaction .current-entrustment  dd:nth-of-type(1){
    margin-top: .3rem;
}

.transaction .current-entrustment  dd {
    display: flex;
    height: 1.4rem;
    line-height: 1.4rem;
    margin-bottom: .3rem;
    color: #5A6076;
}
.transaction .current-entrustment  dd>span {
    flex: 1;
    text-align: center;
}

.transaction .no_data>img {
    width: 48%;
    margin-top: 2rem;
}

/*筛选层*/
.transaction .screen-dialog{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    z-index: 10000;
}
.transaction .screen-content{
    position: absolute;
    top: 0rem;
    left:0;
    background-color: white;
    width: 80%;
    height:100%;
    box-sizing: border-box;
    font-size: .8rem;
}

.transaction .screen-content > .title-2 li > div {
    display: inline-block;
}

.transaction .screen-content > .title-2 li {
    background-color: white;
    padding: .5rem .8rem;
    border-bottom: 1px solid #EEEEEE;
    position: relative;
    line-height: 1.3rem;
}

.transaction .screen-content > .title-2 li div > img {
    width: 1.4rem;
    margin-right: .3rem;
    vertical-align: 20%;
}

.transaction .screen-content > .title-2 li div > p:nth-child(2) {
    color: #ABABAB;
    font-size: .6rem;
}

/*
.home>div li div.home-two>p{
    display: inline-block;
}*/
.transaction .screen-content > .title-2 li div.home-four {
    background-color: #FF565F;
    width: 5rem;
    height: 1.6rem;
    line-height: 1.6rem;
    color: white;
    border-radius: 5px;
    text-align: center;
    float: right;
    margin-top: .5rem;
}

.transaction .screen-content > .title-2 li div.home-two {

}

.transaction .screen-content > .title-2 li div.home-three {
    text-align: right;
    position: absolute;
    right: 6.2rem;
}

.transaction .screen-content .home-inline {
    height: 2.5rem;
    line-height: 2.5rem;
    display: flex;
    background-color: white;
}

.transaction .screen-content .home-inline li {
    flex: 1;
    text-align: center;
}

.transaction .screen-content .home-inline li.active {
    border-bottom: 1.5px solid #5B6079;
    color: #5A6076;
}

.transaction .screen-content .home-inline {
    border-bottom: 1px solid #EFEFEF;
}
header i.icon-fun > img.ok-2 {
    margin-right: 0.5rem;
}
.transaction .screen-content .content-nav{
    width: 100%;
    height: 1rem;
    line-height: 3rem;
}
.transaction>.purchase{
    border-bottom: 1px solid #EFEFEF;
}
header .k-img{
    width:40%;
    vertical-align:middle;
}

.box-coin>div{
    position: absolute;
    width: 90%;
    height: 25rem;
    top: 8.1%;
    left: 50%;
    margin-left: -45%;
    background-color: #ffffff;
    border-radius: 5px;

}
.box-coin>div:before{
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: url(../../../assets/img/coin/ju.png) no-repeat;
    background-size: 100%;
    position: absolute;
    top: -2%;
    left: 47%;
}
.box-coin ul>li{
    width: 24%;
    text-align: center;
    display: inline-block;
    font-size: .65rem;
    color: black;
    padding: .5rem 0 .6rem 0;
}
.box-coin ul>li>p>img{
    width: 2.8rem;
    height: 2.8rem;
}
.box-coin>div>p{
    padding:.7rem 0;
    border-top: 1px solid #EFEFEF;
    text-align: center;
}
.box-coin>div>p>img{
    width: .5rem;
    height: .7rem;


}
.box-coin>div>p>img:nth-of-type(1){
    margin-right: .8rem;
}
.box-coin>div>p>img:nth-of-type(2){
    margin-left: .8rem;
}

.sell-color {
    color: #FF565F;
}

.purchase-color {
    color: #03C086;
}