{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>会员签到{:lang('list')}</legend>
    </fieldset>
    <blockquote class="layui-elem-quote">
        <div class="demoTable">
            <div class="layui-inline">
                <input class="layui-input" name="key" id="key" placeholder="{:lang('pleaseEnter')}关键字">
            </div>
            <label class="layui-label">时间：</label>
            <div class="layui-inline">
                <input type="text" class="layui-input" name="date" id="test">
            </div>
            <button class="layui-btn" id="search" data-type="reload">搜索</button>
            <a href="{:url('user_sign')}" class="layui-btn">显示全部</a>
        </div>
    </blockquote>

    <table class="layui-table" id="list" lay-filter="list"></table>
</div>
<!--<script type="text/html" id="status">-->
    <!--{{# if(d.status==0){ }}-->
    <!--<a class="layui-btn layui-btn-mini layui-btn-danger" lay-event="status">禁用</a>-->
    <!--{{# }else{  }}-->
    <!--<a class="layui-btn layui-btn-mini layui-btn-warm" lay-event="status">正常</a>-->
    <!--{{# } }}-->
<!--</script>-->
{include file="common/foot"/}
<script>
    layui.use('table', function() {
        var table = layui.table, $ = layui.jquery;
        var tableIn = table.render({
            id: 'user_id',
            elem: '#list',
            url: '{:url("user_sign")}',
            method: 'post',
            page: true,
            cols: [[
                {checkbox:true,fixed: true},
                {field: 'sign_id', title: '编号', width: 100,sort: true},
                {field: 'user_id', title: '会员ID', width: 100,sort: true},
                {field: 'addtime', title: '签到时间', width: 200,sort: true},
                {field: 'date', title: '日期', width: 100,sort: true},
            ]],
            limit: 10 //每页默认显示的数量
        });
        //搜索
        $('#search').on('click', function() {
            var key = $('#key').val();
            var date = $('#test').val();
            tableIn.reload({
                where: {key: key,date:date}
            });
        });
    });
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        laydate.render({
            elem: '#test'
            ,type: 'datetime'
            ,range: true
            ,theme: 'molv'
        });
    });
</script>
</body>
</html>