.historical-order{
    padding-top: 2.75rem;
    background-color: #F5F5F5;
}
.historical-order>ul>li{
    background-color: white;
    margin-bottom: .3rem;
}
.historical-order>ul>li:nth-last-child(1){
    margin-bottom: 0;
}
.historical-order>ul>li>.scene{
    padding: 0 .8rem;
    line-height: 2.4rem;
    font-size: .78rem;
}
.historical-order>ul>li>.scene>p{
    display: inline-block;
    width: 49%;
}
.historical-order>ul>li>.scene>p:nth-of-type(1){
    text-align: left;

}
.historical-order>ul>li>.scene>p:nth-of-type(2){
    text-align: right;
    font-size: .64rem;
    color: #A3A3A3;
}
.historical-order>ul>li>.scene>p:nth-of-type(1)>span:nth-of-type(1){
    font-weight: bold;
}
.historical-order>ul>li>.scene>p:nth-of-type(1)>span:nth-of-type(2){
    display: inline-block;
    width:2.8rem;
    font-size: .7rem;
    background-color: #FF7E00;
    color: white;
    border-radius: 3px;
    line-height: 1.1rem;
    text-align: center;
}
.historical-order>ul>li>.number{
    padding: 0 .8rem .7rem .8rem;
    line-height: 1.2rem;
    font-size: .75rem;
}
.historical-order>ul>li>.number>div{
    display: inline-block;
    width: 32%;
}
.historical-order>ul>li>.number>div:nth-of-type(3){
    text-align: right;
}
.historical-order>ul>li>.number>div:nth-of-type(2){
    text-align: center;
}
.historical-order>ul>li>.number>div:nth-of-type(1){
    text-align: left;
}
.historical-order>ul>li>.number>div>p:nth-of-type(2){
    font-weight: bold;
}